.containerTask{
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 736px;
    margin: -24px auto 24px auto;
}

.containerTask > form{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.containerTask > form input{
    border: none;
    background-color: var(--gray-500);
    color: var(--gray-300);
    font-size: 1rem;
    line-height: 1.6;
    padding: 1rem;
    resize: none;
    border-radius: 0.5rem;
    height: fit-content;
    width: 100%;
    max-width: 530px;
}

.containerTask > form button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    gap: 10px;
    border: none;
    border-radius: 8px;
    background-color: var(--blue-900);
    color: var(--gray-100);
    font-size: 1rem;
    line-height: 1.6;

}


.contentTask{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.taskInfo{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3rem;
}

.createdTasks{
    font-size: 14px;
    line-height: 1.6;
    color: var(--blue-600);
    font-weight: bold;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.createdTasks span{
    font-size: 14px;
    line-height: 1;
    color: var(--gray-100);
    padding: 2px 8px;
    font-weight: bold;
    border-radius: 10px;
    background-color: var(--gray-400);

    display: flex;
    align-items: center;
}

.concludedTasks{
    font-size: 14px;
    line-height: 1.6;
    color: var(--purple-600);
    font-weight: bold;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.concludedTasks span{
    font-size: 14px;
    line-height: 1;
    color: var(--gray-100);
    padding: 2px 8px;
    font-weight: bold;
    border-radius: 10px;
    background-color: var(--gray-400);

    display: flex;
    align-items: center;
}

.containerTaskCards{
    display: flex;
    flex-direction: column;
    gap: 12px;
}



.messageWhenNoHaveTask{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: var(--gray-300);
    padding: 64px 0px;
    border-top: 1px solid var(--gray-300);
}
.messageWhenNoHaveTask strong{
    font-size: 1rem;
    line-height: 1;
    
}

.messageWhenNoHaveTask span{
    font-size: 1rem;
    line-height: 1;
    
}